body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
#portada{
    width: 100%;
    height: 380px;
}
ul {
    margin: 5px 0;
    margin-top: -80px;
}
li {
    padding: 15px 30px;
    border-radius: 3px;
    background-color: #ffffff;
    cursor: pointer;    
    margin-left: 200px;
    display: inline-block;
}    

li:hover {
    background-color: #ffd044;
}

select {
    width: 10%;
    font-size: 1em;
}

a {
    text-decoration: none;
    padding-top: 10px;
}
  .galeria {
    height: calc( 500px + 3em);
    width: 85%;
    margin:1em auto;
    border: 1px solid rgb(255, 255, 255);
    position: relative;  
    margin-top: 45px;
  }
  
  .galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
    width: 100%;
    height: 500px;
  }
  
  .galeria input[type=radio] {
    position: relative;
    bottom: calc(-500px - 1.5em);
    left: 1em;
  }
  .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  } 
  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }

.contenedorfoto {
    float: left;
    width:350px;
    height:270px;
    margin: 30px;
    background-color:#e6e6e6;
    margin-top: 10em;
    padding-bottom: 2mm;
    box-shadow: -1mm 1mm 3mm 1mm #c5c5c5;
}
.contenedorfoto img{
  width: 336px;
  height: 250px;
}
.contenedorfoto img:hover{
    transform: scale(1.05);
}

#container-catalogo{
    margin-left: 30mm;
}

.div-precio{
    width: 100%; 
    height: 90px;
    background-color:#e6e6e6;
    margin-top: 9mm;
    font-size: 25px;
    box-shadow: -1mm 1mm 3mm 1mm #c5c5c5;
}
.div-precio p{
  margin-left: 8mm;
  margin-top: 3mm;
  float: left;
  font-size: 20px;
  
}
.div-comprar button{
    width: 40%;
    height: 30px;
    margin: 1px solid #0000;
    background: rgb(255, 230, 0);
    float: right;
    margin-right: 10px;
    margin-top: 12mm; 
    cursor: pointer;
}

button:hover {
  background-color: #bdbdbd;
}

#title-catalogo{
  width: 100%;
  height: 100px;
  background-color:  #CC0000;
}
h2{
  text-align: center;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  padding: 25px;
  color: rgb(255, 255, 255);
}
